<header><table class="header1">
    <tr><td class="td1">hola</td><td class="td1">estoy</td><td class="td1"><button (click)="Atras()">Atras</button></td><td><button class="button1" (click)="Atras()">Alex Faican Pineda</button></td></tr>
    <tr><td><img width="100 px" src="./assets/guchi.png"></td><td><tr>Alex Faican</tr><tr>09/01/2023</tr><tr>Proyecto final</tr></td><td class="td2"></td><td></td><tr>
</table></header>    
<div class="div2"><div class="div3"><input class="search"></div></div>
<body>    
</body>