<link rel="preconnect"href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap" rel="stylesheet">
<div>
<div class="div1"><header>
    <table>
        <tr>

            <td><div>logo</div></td>
        
            <td><table><tr>Alex Faican</tr><tr>09/01/2023</tr><tr>Proyecto Pagina</tr></table></td>
        
            <td><div>carrito</div></td>

            <td><div><input class="search"></div></td>
        
          </tr>
    </table>
</header></div>
<div class="div2"><img class="img2" height="500px" src="./assets/xd.png"></div>
<body></body>
<footer></footer>
</div>