<link rel="preconnect"href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap" rel="stylesheet">
<div>
<header><table class="header1">
    <tr><td class="td1">098 193 7666</td><td class="td1">email@gmail.com</td><td class="td1">El cole</td><td>{{nombre}}</td></tr>
    <tr><td><img width="100 px" src="./assets/guchi.png"></td><td><tr>Alex Faican</tr><tr>09/01/2023</tr><tr>Proyecto final</tr></td><td class="td2"></td><td><input class="input2" type="image" (click)="Pagina4()" src="./assets/carrito.png" width="70px"/> </td><tr>
</table></header>    
<div class="div2"><div class="div3"><input class="search"></div></div>
<body>
    <div></div><div></div><div></div>
    <div></div><div></div><div></div>
    <div></div><div></div><div></div>
</body>
<footer></footer>
</div>