<link rel="preconnect"href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap" rel="stylesheet">
<div>
<header><table class="header1" border="1px black">
    <tr><td>asd</td><td>asd</td><td>asd</td><td></td><td>usuario</td></tr>
    <tr><td colspan="2">logo</td><td><tr>Alex Faican</tr><tr>09/01/2023</tr><tr>Proyecto final</tr></td><td></td><td>carrito</td><tr>
</table></header>    
<div class="div2"><div class="div3">bueno</div></div>
<body></body>
<footer></footer>
</div>